.myalrPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pageHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  width: 100%;
  position: relative;
}

.myPageLogo {
  width: 151px;
  margin-top: 20px;
}

.authButtons {
  position: absolute;
  right: 20px;
  top: 20px;
}

.authButton {
  height: 30px;
  background-color: #f5f5f5;
  border: none;
  padding: 0 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.authButton:hover {
  background-color: #ddd;
}

.myPageTitle {
  margin-top: 10px;
  font-size: 40px;
  font-weight: bold;
  color: #FBE64D;
}

.navButtons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 500px;
  height: 50px;
  margin-top: 10px;
  border: 1px solid white;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
}

.navButton {
  width: 150px;
  height: 30px;
  background-color: white;
  color: black;
  font-weight: bold;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: 1px solid white;
}

.navButton:hover, .navButton.active {
  background-color: #FBE64D;
  color: black;
}

.movieGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(154px, 1fr));
  gap: 20px;
  padding: 30px 20px 20px;
  width: 100%;
  max-width: 1200px;
}

.loading, .noMovies {
  color: white;
  font-size: 18px;
  margin-top: 20px;
}
